* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    min-width: 611px;
}

main img {
    cursor:pointer;
}

a {
    color: black;
    text-decoration: none;
}

.nav-section {
    display: grid;
    grid-template-columns: 1fr;
}

.main-section {
    min-height: auto;
    min-width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}

.btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container #btn {
    margin: 50px 0;
    padding: 15px 25px;
    background-color: #474747;
    border: #222;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
}

.btn-container #btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.output-cointainer {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.output-cointainer h1 {
    color: #fff;
    align-content: center;
}

.output-cointainer #output {
    width: 80%;
    margin-top: 25px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    justify-content: center;
}

.myFPic {
    border-radius: 50%;
    width: 150px;
}

.footer-section-2, .footer-section-1  {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-self: center;
}

.divLeft {
    padding-left: 2em;
}

@media screen and (min-width: 937px) {
    .nav-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}